

<ion-toolbar class="ion-padding"> 
  <search-bar (ionInput)="handleTextChange($event)" />
</ion-toolbar>

<ion-content>

  <!-- mobile grid -->
  <ion-grid when="sm" class="ion-hide-md-up">
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" *ngFor="let pokemon of pokedexService.pokemons">
        <pokemon-card 
            pokemonName={{pokemon.name}}
            pokemonImage={{pokemon.sprite}}
            pokemonTypes={{pokemon.types}}
          >
        </pokemon-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- desktop grid -->
  <ion-grid when="lg" class="ion-hide-md-down">
    <ion-row class="ion-justify-content-center" >
      <ion-col size="3" *ngFor="let pokemon of pokedexService.pokemons">
        <pokemon-card 
            pokemonName={{pokemon.name}}
            pokemonImage={{pokemon.sprite}}
            pokemonTypes={{pokemon.types}} />
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>


<!-- <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll> -->