
<ion-toolbar>
  <ion-title class="ion-text-center">Pokemon</ion-title>
</ion-toolbar>
<ion-toolbar class="ion-padding-horizontal ion-padding-bottom"> 
  <ion-searchbar placeholder="Pokemon..."></ion-searchbar>
</ion-toolbar>

<ion-content>

  <!-- mobile grid -->
  <ion-grid when="sm" class="ion-hide-md-up">
    <ion-row class="ion-justify-content-center">
      <ion-col size="12" size-lg="2">
        <pokemon-card></pokemon-card>
        <pokemon-card></pokemon-card>
        <pokemon-card></pokemon-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- desktop grid -->
  <ion-grid when="lg" class="ion-hide-md-down">
    <ion-row class="ion-justify-content-center" >
      <ion-col size="2" *ngFor="let pokemon of pokedex.pokemons">
        <pokemon-card 
            pokemonName={{pokemon.name}}
            pokemonImage={{pokemon.sprite}}
            pokemonTypes={{pokemon.types}}
          >
        </pokemon-card>
        
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>


<!-- <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll> -->