<ion-content>
  <ion-toolbar>
    <ion-title>Pokemon</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar placeholder="Pokemon..."></ion-searchbar>
  </ion-toolbar>

  <ion-list>
    <ion-item *ngFor="let pokemon of pokedex.pokemons" >
      <ion-card>
        <ion-card-header>{{pokemon.id}}</ion-card-header>
        <ion-title>{{pokemon.name}}</ion-title>
        <ion-card-content>
          <ion-img
            src="{{pokemon.sprites['front_default']}}"
            alt="something"
          ></ion-img>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>

  <!-- <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
  
</ion-content>
