<ion-card>
  <ion-card-header class="ion-text-center">{{pokemonName}}</ion-card-header>
  <ion-card-content class="ion-justify-content-center">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-justify-content-center">
          <ion-img when="lg"
            src={{pokemonImage}}
            alt={{pokemonName}}
            >
          </ion-img>
          <ion-img when="sm"
            src={{pokemonImage}}
            alt={{pokemonName}}
            width=150
            >
          </ion-img>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col *ngFor="let type of pokemonTypesArray" size="6">
          <ion-chip [outline]="true">{{type}}</ion-chip>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>