<ion-card>
  <ion-card-header class="ion-text-center">
    <ion-card-title class="ion-padding-top">{{pokemonName}}</ion-card-title>
  </ion-card-header>
  <ion-card-content class="ion-justify-content-center">
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-justify-content-center">
          <ion-img
            src={{pokemonImage}}
            alt={{pokemonName}}>
          </ion-img>
        </ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-col class="ion-text-center" size="12">
          <ion-chip *ngFor="let type of pokemonTypesArray" 
                    [style.background]="getTypeChipColor(type)">
                    {{type}}
          </ion-chip>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>