/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

:root {
    --black-color: #000;
    --normal-color: #A8A878;
    --fighting-color: #C03028;
    --flying-color: #A890F0;
    --poison-color: #A040A0;
    --ground-color: #E0C068;
    --rock-color: #B8A038;
    --bug-color: #A8B820;
    --ghost-color: #705898;
    --steel-color: #B8B8D0;
    --fire-color: #F08030;
    --water-color: #6890F0;
    --grass-color: #78C850;
    --electric-color: #F8D030;
    --psychic-color: #F85888;
    --ice-color: #98D8D8;
    --dragon-color: #7038F8;
    --dark-color: #705848;
    --fairy-color: #EE99AC;
    --unknown-color: #68A090;
    --shadow-color: #705898;
  }
  